*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

.container{
    height: auto;
    width: 85%;
    padding: 3% 0;
    
}

.header{
    text-align: center;
    text-decoration: none;
}
.title{
    text-decoration: none;
    color: rgb(14, 12, 12);
}
.cards-container{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    justify-content: center;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 7px;
}
.card:hover{
    transform: scale(1.1);
    transition-duration: 40ms;
    transition-timing-function: linear;
    
}

.card-image{
    height: 12rem;
    position: relative;
    overflow: hidden;
}
.card-image img{
    position: absolute;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    border-radius: 7px 7px 0px 0px;
}
.content{
    display: flex;
    flex-direction: column;
    padding: 5% 3%;
    border: 2px solid rgb(171, 171, 171);
    border-radius: 0 0 7px 7px;
    border-top: none;
}
.content p{
    color: rgb(107, 107, 107);
}
.content a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 4%;
}


.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;

}

.signature{
    display: flex;
    align-items: center;
}
.signature img{
    width: 15%;
    height: 15%;
    background-color: rgb(135, 135, 135);
    border-radius: 100%;
    margin-right: 3%;
}
.signature p{
    font-size: 80%;
}
.sig_name{
    color: blue;
}

.category{
    border: 1px solid rgb(117, 117, 117);
    border-radius: 5px;
    padding: 2%;
    color: rgb(101, 101, 101);
}